/* General styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}
  
.card {
    width: 300px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px; /* Increased margin for more space between cards */
}
  
.card-image {
    position: relative;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
  
.card-image img {
    width: 100%;
    height: auto; /* Ensure images maintain aspect ratio */
    display: block;
}
  
.card-content {
    padding: 20px;
}
  
.card-content h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
}
  
.card-content p {
    font-size: 1rem;
    line-height: 1.6;
    color: #666;
    margin-bottom: 20px;
}
  
.btn {
    display: inline-block;
    padding: 12px 24px; /* Padding for the buttons */
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}
  
.formula1 .btn {
    background-color: #dc3545; /* Red color for Formula 1 theme */
    margin: 10px 0; /* Adjust margin */
}
  
.weather-widget .btn {
    width: 80%;
    padding: 12px;
    background-color: #007bff;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}
  
.friend-request .btn.accept-btn {
    background-color: #28a745;
}
  
.friend-request .btn.decline-btn {
    background-color: #dc3545;
}
  
.card {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

.card img {
    width: 100%;
    height: auto;
    display: block;
}

.card-details {
    padding: 20px;
}

.add-to-cart-btn {
    display: block;
    width: 100%;
    padding: 10px 15px;
    background-color: #fc0000;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    margin-bottom: 10px;
}

.price {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.options {
    margin-bottom: 15px;
}

.option {
    margin-bottom: 10px;
}

.option p {
    margin-bottom: 5px;
}

.option-buttons {
    display: flex;
    gap: 10px;
}

.option-btn {
    padding: 8px 12px;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.option-btn.active {
    background-color: #ff0000;
    color: #000000;
}
